---
import "../styles/index.scss";
import Layout from "../layouts/Layout.astro";
import { Button, Grid, Column } from "@carbon/react";
import ButtonWrapper from "../components/ButtonWrapper.astro";
---

<!-- <div>hi mom, this div needs to be here in order to work</div> -->
<Layout title="hi mom">
  <!-- <Button>Carbon Button</Button> -->
  <ButtonWrapper/>
</Layout>

<!-- <ButtonWrapper></ButtonWrapper> -->
<!-- <button>hi mom</button> -->
