---
import "../styles/index.scss";
import { Layout } from "@carbon/react/lib/components/Layout";
import { Button } from "@carbon/react";
---
<div>hi mom, this div needs to be here in order to work</div>
<Button>Carbon Button</Button>
<button>hi mom</button>

<!-- <style lang="scss">
  @use "../styles/index.scss";
</style> -->
